@page "/markets"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject MarketApiClient MarketApi

<PageTitle>Markets</PageTitle>

<h1>Markets</h1>

@if (_markets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Outcome</th>
                <th>Price</th>
                <th>Outcome</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var market in _markets)
            {
                <tr>
                    <td>@market.Question</td>
                    @foreach (var token in market.Tokens)
                    {
                        <td>@token.Outcome</td>
                        <td>@token.Price</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Market[]? _markets;

    protected override async Task OnInitializedAsync()
    {
        _markets = await MarketApi.GetMarketsAsync();
    }
}
